.container {
  position: absolute;
  inset-block-start: 25%;
  inset-inline-start: 25%;
  margin:auto;
  inline-size: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.heroItem {
  cursor: pointer;
}

.heroItem.available {
  color: green;
}

.heroItem.unavailable {
  color: red;
}

.heroName {
  font-size: medium;
}

.heroAvailability {
  font-size: small;
}